<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>alogin</servlet-name>
        <servlet-class>com.onlinequiz.web.alogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.onlinequiz.web.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ulogin</servlet-name>
        <servlet-class>com.onlinequiz.web.ulogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newquiz</servlet-name>
        <servlet-class>com.onlinequiz.web.newquiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addqns</servlet-name>
        <servlet-class>com.onlinequiz.web.addqns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addq</servlet-name>
        <servlet-class>com.onlinequiz.web.addq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showquiz</servlet-name>
        <servlet-class>com.onlinequiz.web.showquiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editq</servlet-name>
        <servlet-class>com.onlinequiz.web.editq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editqns</servlet-name>
        <servlet-class>com.onlinequiz.web.editqns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showqns</servlet-name>
        <servlet-class>com.onlinequiz.web.showqns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showq</servlet-name>
        <servlet-class>com.onlinequiz.web.showq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewq</servlet-name>
        <servlet-class>com.onlinequiz.web.viewq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quiz</servlet-name>
        <servlet-class>com.onlinequiz.web.quiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chkqns</servlet-name>
        <servlet-class>com.onlinequiz.web.chkqns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calc</servlet-name>
        <servlet-class>com.onlinequiz.web.calc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewsc</servlet-name>
        <servlet-class>com.onlinequiz.web.viewsc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alogin</servlet-name>
        <url-pattern>/alogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ulogin</servlet-name>
        <url-pattern>/ulogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newquiz</servlet-name>
        <url-pattern>/newquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addqns</servlet-name>
        <url-pattern>/addqns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addq</servlet-name>
        <url-pattern>/addq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showquiz</servlet-name>
        <url-pattern>/showquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editq</servlet-name>
        <url-pattern>/editq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editqns</servlet-name>
        <url-pattern>/editqns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showqns</servlet-name>
        <url-pattern>/showqns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showq</servlet-name>
        <url-pattern>/showq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewq</servlet-name>
        <url-pattern>/viewq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quiz</servlet-name>
        <url-pattern>/quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chkqns</servlet-name>
        <url-pattern>/chkqns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calc</servlet-name>
        <url-pattern>/calc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewsc</servlet-name>
        <url-pattern>/viewsc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
